/* ============================================
   AEONIK FONT FAMILY
   ============================================ */

/* Aeonik Thin */
@font-face {
    font-family: 'Aeonik';
    src: url('../fonts/Aeonik/Aeonik-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik';
    src: url('../fonts/Aeonik/Aeonik-ThinItalic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

/* Aeonik Air (Extra Light) */
@font-face {
    font-family: 'Aeonik';
    src: url('../fonts/Aeonik/Aeonik-Air.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik';
    src: url('../fonts/Aeonik/Aeonik-AirItalic.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

/* Aeonik Light */
@font-face {
    font-family: 'Aeonik';
    src: url('../fonts/Aeonik/Aeonik-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik';
    src: url('../fonts/Aeonik/Aeonik-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

/* Aeonik Regular */
@font-face {
    font-family: 'Aeonik';
    src: url('../fonts/Aeonik/Aeonik-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik';
    src: url('../fonts/Aeonik/Aeonik-RegularItalic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

/* Aeonik Medium */
@font-face {
    font-family: 'Aeonik';
    src: url('../fonts/Aeonik/Aeonik-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik';
    src: url('../fonts/Aeonik/Aeonik-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

/* Aeonik Bold */
@font-face {
    font-family: 'Aeonik';
    src: url('../fonts/Aeonik/Aeonik-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik';
    src: url('../fonts/Aeonik/Aeonik-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

/* Aeonik Black */
@font-face {
    font-family: 'Aeonik';
    src: url('../fonts/Aeonik/Aeonik-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik';
    src: url('../fonts/Aeonik/Aeonik-BlackItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}


/* ============================================
   ABC ARIZONA FLARE FONT FAMILY
   ============================================ */

/* ABC Arizona Flare Thin */
@font-face {
    font-family: 'ABC Arizona Flare';
    src: url('../fonts/ABCArizonaFlare/ABCArizonaFlare-Thin-Trial.woff2') format('woff2'),
        url('../fonts/ABCArizonaFlare/ABCArizonaFlare-Thin-Trial.woff') format('woff'),
        url('../fonts/ABCArizonaFlare/ABCArizonaFlare-Thin-Trial.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ABC Arizona Flare';
    src: url('../fonts/ABCArizonaFlare/ABCArizonaFlare-ThinItalic-Trial.woff2') format('woff2'),
        url('../fonts/ABCArizonaFlare/ABCArizonaFlare-ThinItalic-Trial.woff') format('woff'),
        url('../fonts/ABCArizonaFlare/ABCArizonaFlare-ThinItalic-Trial.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

/* ABC Arizona Flare Light */
@font-face {
    font-family: 'ABC Arizona Flare';
    src: url('../fonts/ABCArizonaFlare/ABCArizonaFlare-Light-Trial.woff2') format('woff2'),
        url('../fonts/ABCArizonaFlare/ABCArizonaFlare-Light-Trial.woff') format('woff'),
        url('../fonts/ABCArizonaFlare/ABCArizonaFlare-Light-Trial.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ABC Arizona Flare';
    src: url('../fonts/ABCArizonaFlare/ABCArizonaFlare-LightItalic-Trial.woff2') format('woff2'),
        url('../fonts/ABCArizonaFlare/ABCArizonaFlare-LightItalic-Trial.woff') format('woff'),
        url('../fonts/ABCArizonaFlare/ABCArizonaFlare-LightItalic-Trial.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

/* ABC Arizona Flare Regular */
@font-face {
    font-family: 'ABC Arizona Flare';
    src: url('../fonts/ABCArizonaFlare/ABCArizonaFlare-Regular-Trial.woff2') format('woff2'),
        url('../fonts/ABCArizonaFlare/ABCArizonaFlare-Regular-Trial.woff') format('woff'),
        url('../fonts/ABCArizonaFlare/ABCArizonaFlare-Regular-Trial.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ABC Arizona Flare';
    src: url('../fonts/ABCArizonaFlare/ABCArizonaFlare-RegularItalic-Trial.woff2') format('woff2'),
        url('../fonts/ABCArizonaFlare/ABCArizonaFlare-RegularItalic-Trial.woff') format('woff'),
        url('../fonts/ABCArizonaFlare/ABCArizonaFlare-RegularItalic-Trial.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

/* ABC Arizona Flare Medium */
@font-face {
    font-family: 'ABC Arizona Flare';
    src: url('../fonts/ABCArizonaFlare/ABCArizonaFlare-Medium-Trial.woff2') format('woff2'),
        url('../fonts/ABCArizonaFlare/ABCArizonaFlare-Medium-Trial.woff') format('woff'),
        url('../fonts/ABCArizonaFlare/ABCArizonaFlare-Medium-Trial.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ABC Arizona Flare';
    src: url('../fonts/ABCArizonaFlare/ABCArizonaFlare-MediumItalic-Trial.woff2') format('woff2'),
        url('../fonts/ABCArizonaFlare/ABCArizonaFlare-MediumItalic-Trial.woff') format('woff'),
        url('../fonts/ABCArizonaFlare/ABCArizonaFlare-MediumItalic-Trial.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

/* ABC Arizona Flare Bold */
@font-face {
    font-family: 'ABC Arizona Flare';
    src: url('../fonts/ABCArizonaFlare/ABCArizonaFlare-Bold-Trial.woff2') format('woff2'),
        url('../fonts/ABCArizonaFlare/ABCArizonaFlare-Bold-Trial.woff') format('woff'),
        url('../fonts/ABCArizonaFlare/ABCArizonaFlare-Bold-Trial.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ABC Arizona Flare';
    src: url('../fonts/ABCArizonaFlare/ABCArizonaFlare-BoldItalic-Trial.woff2') format('woff2'),
        url('../fonts/ABCArizonaFlare/ABCArizonaFlare-BoldItalic-Trial.woff') format('woff'),
        url('../fonts/ABCArizonaFlare/ABCArizonaFlare-BoldItalic-Trial.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

/* ============================================
   ISL ANDVARI FONT FAMILY
   ============================================ */
@font-face {
    font-family: 'ISL Andvari';
    src: url('../fonts/ISlAndvari/andvari.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}