@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;
        -webkit-tap-highlight-color: transparent;
    }

    body {
        @apply bg-cream text-dark font-inter antialiased;
    }
}

@layer components {
    .container {
        @apply mx-auto w-full max-w-[709px] px-5 pc:max-w-[1500px] pc:px-[50px];
    }
}